.header-container {
    display: flex;
    flex-direction: column;
    height: 650px;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-color: gray;
    background-blend-mode: color-burn;
    color: white;
  }
  
  
  .header {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 24px;
  }
  
  
  .header-photo-info {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: -50px;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: 18px;
  }

  .header-photo-info a {
    color: white;
    text-decoration: none
  }

  .header-photo-info a:hover {
    cursor: pointer;
    color: lightgray;
  }

  .title {
    font-size: 60px;
    font-weight: bolder
  }