.top-buttons {
    display: flex;
    margin-right: 50px;
    position: relative;
    top: -400px;
    justify-content: flex-end;
    color: rgb(73, 68, 68);
  }
  
  .like {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    font-size: 20px;
    margin-right: 10px;
  }
  
  
  .like i {
    color: red;
    margin-right: 10px;
  }
  
  .collection {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    background-color: lightgray;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    font-size: 20px;
    margin-right: 0px;
  }
  
  .collection i {
    margin-right: 5px;
  }

  .bottom-buttons {
    display: flex;
    margin-left: 30px;
    position: relative;
    top: -120px;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  
  .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .image {
      background-size: cover;
      border-radius: 50%;
      height: 40px;
      width: 40px;
      margin-right: 10px;
  }

  .user i {
    margin-right: 10px;
  }

  .user a {
    color: white;
    text-decoration: none
  }
  
  .download {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    margin-right: 30px;
    color: rgb(73, 68, 68)  
}
  

.download a {
  color: rgb(73, 68, 68);
  text-decoration: none
}